.end-wrapper{
  max-height:100vh;
  .registration-content{
    p{text-align:center;}
    .end-height{padding:20px 20px 32px;}
    .registrations-end-image{
      background-image:url('https://www.pakutaso.com/shared/img/thumb/NKJ56_taketomishimanoumitosora_TP_V.jpg');
      background-size: cover;
      height:135px;
      width:700px;
    }
  }
}