.signup-wrapper{
  background-color: $main-background;
  height:100vh;

  .signup-content{
    background-color:$main-content;
    height:382px;
    width:$main-width;
    margin:0 auto;

    .signup-upper{
      height:96px;
      border-bottom:$main-background solid 1px;
      text-align:center;
      line-height:96px;
      font-weight:bold;
      font-size:22px;
    }


    .choose-signup{
      margin-top:40px;
      .email-signup-btn{
        width:343px;
        margin:0 auto;
        background-color:$red;
        text-align:center;
        line-height:50px;
        @include btn;

        .mail-logo{
          margin-top:15px;
          margin-left:20px;
          float:left;

        }
      }
    }

    &__sns{
      width:343px;
      margin:15px 178.5px 0 178.5px;

      .facebook-btn{
        background-color:#385185;
        @include btn;
        @include sns;

        .facebook-logo{
          @include sns-logo;
        }
      }
      .google-btn{
        border:gray solid 1px;
        @include btn;
        @include sns;
        color:#333;
        margin-top:15px;

        .google-logo{
          @include sns-logo;
        }
      }
    }
  }
}

.error-messages-signup{
  color:$red;
  margin-top:2px;
  font-size:14px;
  }

