.user-content-box
  .edit-user
    %h2.edit-user__header プロフィール
    .edit-user__profile
      .edit-user__profile__image
      %input.edit-user__profile__name{type:'text',value:'defaultでuser.nameを入れる',placeholder: '例)AYA★セール中'} 
    .edit-user__form
      %textarea.edit-user__form__input{name:'introduction',placeholder:'例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪'}
      .edit-user__form__submit 変更する