=link_to root_path do
  %li
    %div.notification-box
      = image_tag 'logo_red.svg', alt: 'logo', height: '48px', width: '48px', class: 'notification-box__mercari-icon'
      %div.notification-box__arrow-box
        %i.fas.fa-chevron-right
      %h1.notification-box__title
        テストメッセージ
      %div.notification-box__time
        %i.icon
        %div.text
          13時間前

