.wrapper
  =render partial: "/items/header", locals: {parent_category: @parents, popular_brands: @popular_brands }
  .user-main-box
    - breadcrumb :card
    = breadcrumbs separator: " &rsaquo; "
    .userpage-main
      =render "side-list"
      .credit-top
        = render "shared/card_index", {credit_information: @credit_information}
  =render "items/footer"