.wrapper
  =render "items/header"
  .user-main-box
    .userpage-main
      =render "side-list"
      .credit-top
        %h2.credit-top__upper クレジットカード情報入力
        =render "shared/card_registrations"
  =render "items/footer"