.logout-wrapper
  =render partial: "items/header", locals: {parent_category: @parents, popular_brands: @popular_brands }
  .wrapper
    .user-main-box
      .userpage-main
        = render "side-list"
        .logout-main__right
          .logout-box
            = link_to '/users/sign_out', method: :delete do
              .logout-btn ログアウト
  .app-info
  = render "items/sell-icon"
  = render "items/footer"