.signup-wrapper
  =render "items/sell-header"
  .signup-content
    .signup-upper
      新規会員登録
    .choose-signup
      =link_to n1_registrations_path do
        .email-signup-btn
          メールアドレスで登録する　　
          =image_tag 'https://i.gyazo.com/03e509aa833278a8cf3716e8b6cc54ce.png', alt: 'Image from Gyazo', width: '22px', class: 'mail-logo'
    .signup-content__sns
      =link_to 'https://ja-jp.facebook.com/' do
        .facebook-btn
          Facebookで登録する　　
          = image_tag 'https://i.gyazo.com/bb3d9af91723e756a32b57dc4a4d96b2.png', alt: 'Image from Gyazo', width: '27px', class: 'facebook-logo'
      =link_to 'https://accounts.google.com/' do
        .google-btn
          Googleで登録する　　
          = image_tag 'https://i.gyazo.com/a9e2fe3d122b71c3d3a308fa30a09f37.png', alt: 'Image from Gyazo', width: '25px', class: 'google-logo'

  = render "items/sell-footer"