.signup-wrapper
  =render "items/sell-header"
  .signup-content
    .signup-upper
      新規会員登録
    .choose-signup
      =link_to n1_registrations_path do
        .email-signup-btn
          メールアドレスで登録する　　
          =image_tag 'email_logo.png', alt: 'Image from Gyazo', width: '26px', class: 'mail-logo'
    .signup-content__sns
      =link_to 'https://ja-jp.facebook.com/' do
        .facebook-btn
          Facebookで登録する　　
          = image_tag 'facebook_logo.png', alt: 'Image from Gyazo', width: '27px', class: 'facebook-logo'
      =link_to 'https://accounts.google.com/' do
        .google-btn
          Googleで登録する　　
          = image_tag 'google_logo.png', alt: 'Image from Gyazo', width: '25px', class: 'google-logo'

  = render "items/sell-footer"