.registration-wrapper
  .n2
    = render "/shared/SignUp-header"
  .registration-content
    .profile-head
      電話番号認証
    .authentication-content.signup-height
      .tellnum-form.signup-margin
        = form_for @user, url: n3_registrations_path, method: :get do |f|
          %h1 携帯電話の番号
          = f.telephone_field :tel, placeholder: '例）09012345678', maxlength: '11'
          = render partial: '/shared/error-messages', locals: {user: @user, profile: @user.build_profile, address: @user.addresses.build, column: "tel"}
          %p ※本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          .next-box
            =f.submit value: 'SMSを送信する', class: 'next-btn'
            %p ※電話番号は本人確認や不正利用防止のために使用します。他のユーザーに公開されることはありません。
            .bluelink 電話番号の確認が必要な理由
  =render "items/sell-footer"
