= link_to "削除する", credit_path(card), method: :delete, class: "credit-delete"
%p
  = "**** **** **** " + credit_information.last4
%p
  - exp_month = credit_information.exp_month.to_s
  - exp_year = credit_information.exp_year.to_s.slice(2,3)
  = exp_month + " / " + exp_year
  - @brand = credit_information.brand
  - case @brand
  - when "Visa"
    %i.fab.fa-cc-visa
  - when "MasterCard"
    %i.fab.fa-cc-mastercard
  - when "JCB"
    %i.fab.fa-cc-jcb
  - when "American Express"
    %i.fab.fa-cc-amex
  - when "Discover"
    %i.fab.fa-cc-discover

