.category-drop-box{
  position:absolute;
  width:600px;
  display:flex;
}

.category-drop-parent_list{
  position: absolute;
  z-index: 3;
  background-color: $main-content;
  margin-top:8px;
  display: none;
  .category-drop-parent_category{
    display:block;
    padding: 0 20px;
    color:black;
    width:200px;
    font-size:12px;
    font-weight:lighter;
    &:hover{background-color:$red;color:white;}
  }
}

.category-drop-child_list{
  position: absolute;
  left:200px;
  z-index: 3;
  background-color: $main-content;
  margin-top:8px;
  width:200px;
  .category-drop-child_category{
    display:block;
    padding: 0 20px;
    color:black;
    font-size:12px;
    font-weight:lighter;
    &:hover{background-color:$red;color:white;}
  }
}

.category-drop-grandchild_list{
  position: absolute;
  left:400px;
  z-index: 3;
  background-color: $main-content;
  margin-top:8px;
  width:200px;
  .category-drop-grandchild_category{
    display:block;
    padding:0 10px;
    color:black;
    font-size:12px;
    font-weight:lighter;
    &:hover{background-color:$red;color:white;}
  }
}

