.detail-box{
  background-color: $main-background;
  padding-top:40px;
}

.detail-main{
  &__item{
    padding: 24px 40px 40px;
    margin:0  auto;
    position:relative;
    @include content-background-width;
    h1{
      font-size: 24px;
      text-align: center;
      word-wrap: break-word;
      line-height: 1.4;
    }
    &__content.clearfix:after {
      @include clearfix;
    }
    &__content{
      margin: 16px 0 0;
      &__images{
        float: left;
        min-width: 300px;
        max-width: 300px;
        min-height: 375px;
        margin: 0 auto;
        background: $main-background;
        position: relative;
        &--main{
          min-height: 300px; 
          background-size: cover;
          background-repeat: no-repeat;   
          &__photo{
            display:flex;
            flex-wrap: wrap;
            max-width: 300px;
          }
        }
      }
      table{
      float: right;
      width: 100%;
      max-width: 300px;
      height: 420px;
      margin: 0 auto;
      border: 1px solid #f5f5f5;
      font-size: 14px;
        tr{
          border: 1px solid #f5f5f5;
          th{
          width: 39%;
          text-align: left;
          font-weight: 400;
          background: #FAFAFA;                          
          }
          td{
            width: 61%;
            padding: 8px;
            a{
              @include link-font-color-and-size();
              display:block;
            }
            .detail-user__rating{
              display: inline-block;
              .fapink{
                color:#FF0099;
                font-size: 16px;
              }
              .faorange{
                color:orange;
                font-size: 16px;
                padding-left: 8px;
              }
              .fablue{
                color:#3399FF;
                font-size: 16px;
                padding-left: 8px;
              }
            }
          }
          td.detail-main__item__content__images--main__photo{
            width: 100%;
            padding: 0px;
          }
        }
      }
    }
    &__price{
      text-align: center;
      margin: 24px 0 0;
      &--number{
        margin: 0 16px 0 0;
        font-size: 50px;
        font-weight: 600px;
      }
      &--tax{
        font-size: 10px
      }
      &--charge{
        font-size: 16px;
      }
    }
    .seller-function-box{
      width:100%;
      &__edit{
        width:100%;
        height:60px;
        background-color:$red;
        line-height: 60px;
        color:white;
        text-align:center;
        margin-top:20px;
        &:hover{opacity:0.8;}
      }

      &__or{text-align:center;margin:20px 0;}

      &__back{
        width:100%;
        height:60px;
        background-color:$red;
        line-height: 60px;
        color:white;
        text-align:center;
        &:hover{opacity:0.8;}
      }

      &__delete{
        width:100%;
        height:60px;
        background-color:darkgray;
        line-height: 60px;
        color:white;
        text-align:center;
        margin:20px 0;
        &:hover{opacity:0.8;}
      }

    }
    &__link-buy{
      font-size: 24px;
      line-height: 60px;
      display: block;
      margin-top: 16px;
      background: $red;
      text-align: center;
      a{
        font-weight: 600;
        color: #fff;
      }
    }
    &__description{
      padding: 32px 0 16px;
      line-height: 1.5;
      p{
      font-size: 18px;
      white-space: pre-wrap
      }
    }
    &__button-container.clearfix::after{
      @include clearfix;
    }
    &__button-container{
      &__left{
        float:left;
        button{
          font-size: 14px;
          background: #f5f5f5;
          display: inline-block;
          padding: 8px 16px;
          border-radius: 40px;
          border: 1px solid #f5f5f5;
          cursor: pointer;
          i.grey{
            color:grey;
          }
          span{
            margin: 1px 0 0 8px;
          }
        }
        .item-button--report{
          margin: 0 0 0 16px;
        }
      }
      &__right{
        float:right;
        margin: 9px 0;
        @include link-font-color-and-size();
        span{
        margin: 1px 0 0 8px;
        }
      }
    }
  }
  &__message{
    @include content-background-width;
    @include clearfix;
    margin: 8px auto;
    padding: 24px;
    form{
      p{
        padding: 8px;
        font-size: 14px;
        background: #fff6de;
      }
      textarea{
        margin: 8px 0 0;
        display: block;
        width: 100%;
        max-width: 100%;
        min-height: 104px;
        padding: 10px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
        line-height: 1.5;         
      }
      input{
        width: 100%;
        margin: 8px 0 0;
        text-align: center;
        line-height: 48px;
        background: #aaa;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }

  &__prev-next-items{
    margin: 24px auto 0;
    @include content-no-border-background-width;
    ul{
      list-style: none;
      display: flex;
      justify-content: space-between;
      li{
          a{
          @include link-font-color-and-size();
        }
      }
    }
  }

  &__social-media-box{
    margin: 24px auto;
    padding: 32px 0 24px;
    @include content-background-width;
    ul{
      margin: 30px 0 0;
      text-align: center;
      li{
        display: inline-block;
        margin: 0 8px 8px 0;
        vertical-align: middle;
        i.logosize{
          font-size:44px;
        }
        i#facebookcolor{
        color:#3B579D;
        }
        i#tweetercolor{
          color:#55acee;
        }
        i#linecolor{
          color:#00c300;
        }
        i#pinterestcolor{
          color:#ce0f19;
        }
      }
    }
  }

  &__related-products{
    margin: 0 auto;
    @include content-no-border-background-width;
    &__seller{
      a{
        h2{
          @include related-products-title;
        }
      }
      &__images-box.clearfix::after{
        @include clearfix();
      }
      &__images-box{
        @include images-box();
      }
    }
    &__brand{
      a{
        h4{
          @include related-products-title;
        }
      }
      &__images-box.clearfix::after{
        @include clearfix();
      }
      &__images-box{
        @include images-box();
      }
    }
  }
  &__bottom-title{
    background: #f5f5f5;
    border-top: 1px solid #eee;
    width: 700px;
    margin: 0 auto;
    padding: 16px 0;
    list-style: none;
    a{
      @include link-font-color-and-size()
    }
    li.detail-main__bottom-title__item-name{
      font-weight: 600;
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
    }
  }
}
