.sell-wrapper{
  background-color: $main-background;
  color: #333;
  width: 100%;
}

header.sell-header{
  height: 128px;
  h1{
  text-align: center;
  padding-top: 40px;
  }
}

h2{
  padding: 32px 16px;
  font-size: 22px;
  font-weight: bold;
  @include form-content-set;
}

h3{
  font-size: 16px;
  font-weight: bold;
}

h4{
  @include form-content-title-font;
}

.brand__tag{
  background: gray;  
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;       
} 

.chevron{
  @include chevron;
  right: 15px;
}

// カテゴリー消したり用
.hidden{
  display: none;
}

// 画像ボックス用
.dropbox1{
  display: none;
}

.upload-image{
  display: none;
}

.sell-main {
  width: 700px;
  margin: 0 auto;
  background: #fff;
  text-align: center;
  .sell-main-form{
    &__images{
      padding: 40px;
      @include form-content-set;
      text-align: left;
      display: flexbox;
      p{
        font-size: 13px;
        margin-top: 8px;
        line-height: 1.5;
      }
      .form_image{
        @include clearfix;
        width: 100%;
        margin-left: 0;
        padding: 40px;
        position: relative;
        min-height: 162px;
        background: #f5f5f5;
        border: 1px dashed #ccc;
        font-size: 0;
        text-align: center;
        transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
        cursor: pointer;
      }
      pre{
        position: absolute;
        bottom: 30px;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
    &__descriptions{
      @include form-content-set; 
      text-align: left;
      padding: 40px;
      input{
        width: 100%;
        margin: 8px 0 0;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
        line-height: 1.5;
      }
      &__comment{
        margin: 40px 0 0;
        .textarea-comment{
          margin: 8px 0 0;
          width: 100%;
          max-width: 100%;
          min-height: 142px;
          padding: 10px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          line-height: 1.5;
        }
      }
    }
    &__content.clearfix:after{
      @include clearfix;
    }
    &__content{
      @include form-content-set;
      text-align: left;
      padding: 40px;
      p{
        @include form-content-title-left;
      }
      &__detail{
        @include form-content-title-right;
        &__category{

          &__box{
            @include form-box-position;
            select{
              @include select-box;
            } 
          }
        }
        &__brand{
          padding-top: 40px;
          &__box{
            @include form-box-position;
            input{
              @include select-box;
            } 
          }
        }
        &__status{
          padding-top: 40px;
          &__box{
            @include form-box-position;
            select{
              @include select-box;
            } 
          }
        }
      }
      a{
        @include question;
      }
      &__delivery{
        @include form-content-title-right;
        &__fee__box{
          @include form-box-position;
          select{
            @include select-box;
          }
        }
        &__detail{
          margin:40px 0 0;
          &__box{
            @include form-box-position;
            select{
              @include select-box;
            } 
          }
        }        
        &__region{
          margin:40px 0 0;
          &__box{
            @include form-box-position;
            select{ @include select-box; } 
          }
        }
        &__delay{
          margin:40px 0 0;
          &__box{
            @include form-box-position;
            select{ @include select-box; } 
          }
        }
      }
      &__price{
        @include form-content-title-right;
        ul{
          li.sell-main-form__content__price__total.clearfix:after{
            @include clearfix;
          }
          .sell-main-form__content__price__total{
            @include price-content-underline;
            padding: 0 0 24px;
            h4{
              float:left;
              line-height: 48px;
            }
            &__input{
              float: right;
              p{
              line-height: 48px;
              font-weight: initial;
              }
              input{
                width: 80%;
                margin: 0 0 0 5%;
                text-align: right;
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
              }
            }
          }
          li.sell-main-form__content__price__charge.clearfix:after{ @include clearfix; }
          .sell-main-form__content__price__charge{
            @include price-content-underline;
            padding: 24px 0;
            font-size: 14px;
            &__title{
              float:left;
            }
            &__auto{
              float:right;
            }
          }
          li.sell-main-form__content__price__profit.clearfix:after{ @include clearfix; }
          .sell-main-form__content__price__profit{
            padding: 24px 0;
            font-size: 16px;
            font-weight: 600;
            &__title{
              float:left;
            }
            &__auto{
              float:right;
            }
          }
        }
      }
    }
    &__btn-box{
      padding:40px;
      text-align:left;
      &__caution{
        p{
          font-size: 14px;
          line-height: 1.5;
          a{
            color: #0099e8;
          }
        }
      }
      .sell-main-form__btn-box__submit-btn.button{
        margin: 40px 0 0;
        background: $red;
        border: 1px solid $red;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        text-align: center;
      }
      .sell-main-form__btn-box__back-btn{
        display: block;
        line-height: 3.5;
        font-size: 14px;
        background: #aaa;
        border: 1px solid #aaa;
        width: 45%;
        margin: 24px auto 0;
        text-align: center;
        a{
          color: #fff;
        }
      }
    }
  }
}

.sell-footer-wrapper{
  background: $main-background;
}

.sell-footer{
  margin:0 auto;
  width: 456px;
  height: 220px;
  padding: 40px 0;
  text-align: center;
  &__link-boxes{
    display:flex;
    font-size: 12px;
    justify-content: space-around;
    a{
      color: #333333!important;
    }
  }
  &__image{
    padding-top: 40px;
  }
  &__copyright{
    font-size: 13px;
  }
}

.image-preview-wrapper{
  margin-top: 16px;
  width: 620px;
}

#preview{
  width: 100%;
  font-size: 0;

  .img_view{
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 0 10px 10px;
    border: 1px solid #eee;
    display:inline-block;
    &:first-child{
      margin-left:0 ;
    }
    &:nth-child(6n){
      margin-left:0 ;
    }
    img{
      width: 112px;
      height: 112px;
    }
  }
  .btn_wrapper{
    font-size: 14px;
    background: #f5f5f5;
    cursor: pointer;


    .btn.edit{
      display: inline-block;
      width: 50%;
      line-height: 44px;
      text-align: center;
    }
    .btn.delete{
      display: inline-block;
      width: 50%;
      background: #f5f5f5;
      line-height: 44px;
      text-align: center;
    }
  }
}

.search-brand-list{
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  max-height: 280px;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.64);
  .li-item{
    list-style: none;
    cursor: pointer;
    padding: 16px 8px;
    &:hover{
      color: white;
      background: rgb(116, 116, 219);
    }
  }
}