.header-contents{
  width: 1020px;
  margin: 0 auto;
  padding: 8px 0 0;
  &__upper{
    display: flex;
    &__logo{
      display: flex;
      height: 40px;
      margin-right: 45px;
    }
    &__form-search{
      position: relative;
      width: 100%;
      &__form{
        background-color: $main-background;
        height: 40px;
        width: 100%;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-radius: 4px;
        padding: 0px 50px 0px 10px;
      }
      &__btn{
        background-color: transparent;
        cursor: pointer;
        height: 40px;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 40px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        border-radius: 0px 4px 4px 0px;
        padding: 0px;
      }
    }
  }
  &__lower{
    display: flex;
    justify-content: space-between;
    margin-top:8px;
    &__item-search{
      display: flex;
      cursor: pointer;
      &:first-child{
        padding-left: 0;
      }
      &__list.right{
        padding-left: 20px;
      }
      &__list{
        display: flex;
        font-size: 14px;
        font-weight: 600;
        line-height: 36px;
        &__icon{
          color: $red;
          line-height: 36px;
        }
        &__text{
          padding-left: 5px;
          &:hover{color:$blue;}
        }
      }
    }
    &__mypage{
      display: flex;
      cursor: pointer;
      height: 44px;
      &__list{
        display: flex;
        font-size: 14px;
        line-height: 36px;
        padding-left: 28px;
        &__icon{
          color: rgb(204, 204, 204);
          margin-right: 10px;
          width: 19px;
          line-height: 36px;
        }
        &__text{
          font-weight: 1;
          &:hover{color:$blue;}
        }
      }
    }
  }
}

.camp{
  background-image:url("mercari_camp.png");
  height: 390px;
  background-size:auto 390px;
  background-position: center;
  display: block;
}

.app-info{
  background-image:url("app_image.png");
  height: 260px;
  width:auto;
  background-size:auto 260px;
  background-position: center center;
}

.body-contents{
  max-width:1020px;
  margin: 0 auto;
}

.popular{
  padding: 56px 0 30px;
  background-color: white;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  position: relative;
  &__title{
    margin-bottom: 16px;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
  }
  &__category{
    text-align: center;
    .lists{
      background-color: $main-background;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      border-radius: 15px;
      padding: 8px 16px;
      margin: 10px 0 0 10px;
    }
  }
}

.popular-index{
  padding: 42px 0px 100px;
  &__header{
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: baseline;
    &:not(:first-child){margin-top: 60px;}
    &__title{
      font-size:24px;
      font-weight: 600;
    }
    .link-more{
      color: $blue;
      font-weight: 600;
      display: flex;
      align-items: center;
    }
    &__link-more{
      padding-left: 5px;
    }
  }
  &__card{
    display: flex;
    flex-wrap: wrap;
    &__wrapper{
      width: 20%;
      padding: 10px;
      min-width: 188px;
    }
    &__field{
      background-color: $main-content;
      box-shadow: 0 2px 4px rgba(0,0,0,.18);
      &__upper{
        height: 188px;
        position: relative;
        &__image{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &__price{
          position: absolute;
          background: rgba(0,0,0,.4);
          border-radius: 0 14px 14px 0;
          bottom: 8px;
          left:0 ;
          color: white;
          padding: 0 12px;
          font-size: 17px;
          letter-spacing: .02em;
        }
      }
      &__bottom{
        font-size: 14px;
        height: 64px;
        line-height: 1.4em;
        padding: 0 12px;
        align-items: center;
        display:flex;
        position: relative;
        &__text{
          height: 2.8em;
          overflow: hidden;
        }
        &__text::after{
          background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 72%);
          bottom: 0;
          content: "";
          height: 50%;
          position: absolute;
          right: 0;
          width: 50%;
        }
      }
    }
  }
}

.sell-icon{
  bottom: 32px;
  text-align:center;
  padding-top:32px;
  height: 160px;
  right: 32px;
  width: 160px;
  position: fixed;
  background-color: $red;
  border-radius: 50%;
  &__btn{
    color: white;
    &__text{
      font-size: 22px;
    }
    &__cam{
      font-size: 60px;
    }
  }
}

.footer{
  background-color: rgb(34, 34, 34);
  color: white;
  font-size: 12px;
  padding: 0px 20px 10px;
  &__upper{
    width:1020px;
    margin: 0 auto;
    &--list{
      display: inline-block;
      margin-top: 18px;
      vertical-align: top;
      width: auto;
      padding: 0px 40px 0px 0px;
      &__privacy{
        width: 48%;
        padding-left: 10px;
        display: inline-block;
      }
    }
  }
  &__bottom{
    width: 1020px;
    margin: 30px auto 20px;
    display:flex;
    align-items: center;
    &--copyright{
      padding-left: 15px;
      width: 75%;
      text-align: center;
    }
  }
}

.icons{
  color: white;
  display: flex;
  height: 30px;
  width: 30px;
  vertical-align: baseline;
  margin-top: 30px;
  &__twitter{
    margin-right: 30px;
  }
  .icon{
    font-size: 30px;
    color: white;
  }
}


.privacy{
  width: 43%;
}

.footer__upper--list__privacy:first-of-type{
  padding: 0 10px 0 0;
}
