.logout-main__right{
  float:right;
  width:700px;
  margin-top: 40px;
  background: $main-content;
  .logout-box{
    max-width: 320px;
    padding: 64px 0;
    margin:0 auto;
    a{
    width:100%;
    line-height: 48px;
    text-align: center;
    background: #ea352d;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    }
  }
}
.wrapper{background-color: $main-background;}
