.logout-main__right{
  float:right;
  width:700px;
  margin-top: 40px;
  background: $main-content;
  .logout-box{
    height:260px;
    padding:102px 164px;
    .logout-btn{
      width:100%;
      height:100%;
      background-color:$red;
      color:white;
      text-align:center;
      line-height:56px;
    }
  }
}
