%li.popular-index__card__wrapper
  .popular-index__card__field
    .popular-index__card__field__upper
      =link_to root_path do
        =image_tag 'sample1.jpg', alt: 'image',class: 'popular-index__card__field__upper__image'
        %span.popular-index__card__field__upper__price ¥2,200-
    .popular-index__card__field__bottom
      %span.popular-index__card__field__bottom__text サンプルサンプルサンプルサンプルサンプルサンプルサンプルsasasasasasasasasasasasasasasasasasa    %h1.popular__title 人気のカテゴリー
