.header-contents__lower__item-search__list__text#category-search 
  %p カテゴリーから探す
  .category-drop-box
    .category-drop-parent_list
      - parent_category.each do |category|
        = link_to "#{category.category}", root_path, class: "category-drop-parent_category",id: "#{category.id}"
    .category-drop-child_list
    .category-drop-grandchild_list

