%ul.popular-index__card
  %li.popular-index__card__wrapper
    .popular-index__card__field
      .popular-index__card__field__upper
        =link_to item_path(id:category.id) do
          %img{src: "#{category.images.first.image.url}", alt: "image",class: "popular-index__card__field__upper__image"}
          %span.popular-index__card__field__upper__price 
            ¥
            = category.price.to_s(:delimited)
      .popular-index__card__field__bottom
        %span.popular-index__card__field__bottom__text 
        = category.description