.popular
  %h2.popular__title 人気のカテゴリー
  %ul.popular__category
    %li.polular__category.lists レディース
    %li.polular__category.lists メンズ
    %li.polular__category.lists 家電・スマホ・カメラ
    %li.polular__category.lists おもちゃ・ホビー・グッズ
.popular-index
  =render'items/category'
  =render'items/category'
  =render'items/category'
  =render'items/category'