.detail-wrapper
  .to-render-header
  -# =render partial "header"
  .detail-main
  .detail-message
  .detail-prev-next-items
  .detail-social-media-box
  .detail-related-products
  .detail-bottom-title
  .to-render-header
  -# =render partial "footer"