.breadcrumbs{
  height: 49px;
  line-height: 49px;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: $main-content;
  padding-left: 200px;
    a:hover{
      border-bottom: solid 2px grey;
      opacity: 0.5;
    }
    a{
      color: $main-font;
      font-size: 14px;
    }
    span.current{
      font-size: 14px;
      font-weight: bold;
    }
}
