#must__red,#must__tag,.must__red,.must__tag{
  @include must;
}


.ol.ul{
  list-style:none;
}

.li{
  display: list-item;
}

.menu-link{
  color: $main-font;
}

.list-title{
  font-size: 16px;
  font-weight: bold;
}

.list-item{
  color: white;
  line-height: 1.4em;
  margin: 16px 0px 0px;
  opacity: 0.7;
}

.body-wrapper{
  background-color: $main-background;
  min-height: 100vh;
}

.btn-red{
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

.btn-default{
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
}

.chevron-icon{
  color: rgb(0, 149, 238);
  font-weight: 600;
  display: flex;
  align-items: center;
}

#select-box{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-default{
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}